<?xml version="1.0" encoding="utf-8" ?>
<ConfigurationProperties>
  <ConnectionString>
    <Server>localhost</Server>
    <PortNumber>3306</PortNumber>
    <UserId>root</UserId>
    <Password>woof</Password>
    <Database>medical</Database>
  </ConnectionString>
  <Security>
    <Username>admin1</Username>
    <Password>FzhOl9d/D4hEr0Oar00mutOkSv4BLC1MKwKdjh+KbzU=</Password>
    <PasswordSalt>x/yPHj0SnpUHFjCqiF35vDa8skd9yPNPLf8OCSHhYP4=</PasswordSalt>
  </Security>
  <FacilityId></FacilityId>
</ConfigurationProperties>